@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.banner {
    position: relative;
    border-radius: 10px;
    height: 223px;
    margin-bottom: 65px;
   
    @media screen and (max-width: 768px) {
      border-radius: 15px; 
      height: 111px;
      margin-bottom: 20px;
    }
  
    &__img {
      border-radius: 25px;
      height: 232px;
      object-fit: cover;
      width: 80%;
      margin: auto;
      display: flex;
      filter: brightness(80%);

      @media screen and (max-width: 768px) {
        width: 94%;
        height: 111px;
        border-radius: 10px;
      }
    }
   
    &__txt {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $tertiary-color;
      font-family: 'Montserrat', sans-serif;
      font-size: 50px;
      font-weight: 600;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      opacity: 1;
    
      @media screen and (max-width: 768px) {
      font-size: 24px;
      font-weight: 500;
      top: 35%;
      left: 5.6%;
      right: 32.53%;
      bottom: 80.05%;
      padding-top: 25px;
      }
    }
  }