@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



  $background-color: rgba(0, 0, 0, 0.3);
  $secondary-color: #f7f7f7;



.collapse {
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
      
    }

      &__dropdown {
        width: 94%;
  
      

     
  
      &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 1em;
        width: 100%;
        background-color: $primary-color;
        margin: 0 auto;
        margin-top: 1.5em;
        border-radius: 5px;
  
        @media screen and (max-width: 768px) {
         
        }
  
        h2 {
          color: $tertiary-color;
          font-family: 'Montserrat', sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
       
        }
        p {
          color: $tertiary-color;
          i {
            cursor: pointer;
          }
        }
      }

       &__content {
        background-color: $secondary-color;
        width: 100%;
  
        border-radius: 5px;
  
        // @media screen and (min-width: $breakpoint-desktop) {
        //   width: 100%;
        // }
  
        p {
        
          font-family: 'Montserrat', sans-serif;
          font-size: 20px;
          font-weight: 400;
          color: $primary-color;
          margin: 0 auto;
          padding: 0.8em;
        }
      }
    }
  }