.nav-header a {
    color: $primary-color;
    text-decoration: none;
    margin-left: 30px;
    font-size: 24px;
    

       
    @media screen and (max-width: 780px) {
       font-size: 14px;
       text-transform: uppercase;
      margin-left: 15px;

      
      }
}

.nav-header a:hover {
    border-bottom: 1px solid $primary-color;
}

.active {
    border-bottom: 1px solid $primary-color;
}