@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  width: 80%;
}
@media screen and (max-width: 768px) {
  .header {
    width: 94%;
  }
}
.header__fig {
  display: flex;
  align-items: flex-start;
  margin: 0;
  width: 9rem;
}
@media screen and (max-width: 768px) {
  .header__fig {
    width: 13.2rem;
  }
}
.header__fig img {
  width: 210px;
  height: 68px;
}
@media screen and (max-width: 768px) {
  .header__fig img {
    width: 145px;
    height: 46px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 209px;
  margin-top: 5%;
  background-color: #000000;
}
.footer__logo {
  padding: 0.3em 1em;
  width: 122px;
  height: 40px;
}
.footer__text-copyright {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .footer__text-copyright {
    width: 40%;
    text-align: center;
    font-size: 15px;
  }
}

.nav-header a {
  color: #ff6060;
  text-decoration: none;
  padding-left: 50px;
  font-size: 24px;
}
@media screen and (max-width: 780px) {
  .nav-header a {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 30px;
  }
}

.banner {
  position: relative;
  border-radius: 10px;
  height: 223px;
  margin-bottom: 65px;
}
@media screen and (max-width: 768px) {
  .banner {
    border-radius: 15px;
    height: 111px;
    margin-bottom: 20px;
  }
}
.banner__img {
  border-radius: 25px;
  height: 232px;
  object-fit: cover;
  width: 80%;
  margin: auto;
  display: flex;
  filter: brightness(80%);
}
@media screen and (max-width: 768px) {
  .banner__img {
    width: 94%;
    height: 111px;
    border-radius: 10px;
  }
}
.banner__txt {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 600;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .banner__txt {
    font-size: 24px;
    font-weight: 500;
    top: 35%;
    left: 5.6%;
    right: 32.53%;
    bottom: 80.05%;
    padding-top: 25px;
  }
}

.home_gallery {
  width: 80%;
  padding: 50px 30px;
  border-radius: 25px;
  background-color: #F6F6F6;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  row-gap: 40px;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .home_gallery {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 95%;
    padding: 0;
    row-gap: 0;
  }
}
.home_gallery article {
  display: flex;
  justify-content: center;
  width: 30%;
}
@media screen and (max-width: 768px) {
  .home_gallery article {
    width: 80%;
  }
}
.home_gallery article a {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .home_gallery article {
    width: 100%;
  }
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  animation: fadeInUp 600ms ease-in-out;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .card {
    border-radius: 5px;
  }
}
.card_img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: inherit;
  transform: scale(1);
  transition: transform 300ms;
  filter: brightness(80%);
}
.card_title {
  position: absolute;
  bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 15px 20px;
  color: #ffffff;
}
.card_overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.card:hover > .card_img {
  transform: scale(1.01);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.collapse {
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .collapse {
    padding: 0 0;
    border-radius: 10px;
    width: 390px;
  }
}
.collapse__dropdown {
  width: 100%;
}
.collapse__dropdown__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ff6060;
  margin: 0 auto;
  margin-top: 1.5em;
  border-radius: 15px;
}
@media screen and (max-width: 768px) {
  .collapse__dropdown__title {
    padding: 0 0.1em;
  }
}
.collapse__dropdown__title h2 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  padding: 0.5em 1em;
}
@media screen and (max-width: 768px) {
  .collapse__dropdown__title h2 {
    font-size: 15px;
    padding: 0.5em 1em;
  }
}
.collapse__dropdown__title p {
  color: #ffffff;
}
.collapse__dropdown__title p i {
  cursor: pointer;
  padding: 1em;
  font-size: 20px;
}
.collapse__dropdown__content {
  background-color: #f7f7f7;
  width: 100%;
  border-radius: 5px;
}
.collapse__dropdown__content p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ff6060;
  margin: 0 auto;
  padding: 0.8em;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.errorContainer__Number {
  display: flex;
  justify-content: center;
  color: #ff6060;
  width: 590px;
  height: 263px;
  font-family: "Montserrat", sans-serif;
  font-size: 288px;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .errorContainer__Number {
    font-size: 96px;
    width: 198px;
    height: 99px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
}
.errorContainer__Text {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
}
@media screen and (max-width: 768px) {
  .errorContainer__Text {
    font-size: 18px;
    font-weight: 500;
    width: 260px;
  }
}
.errorContainer__Link {
  display: flex;
  justify-content: center;
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .errorContainer__Link {
    margin-top: 7rem;
    margin-bottom: 7rem;
    font-size: 14px;
    font-weight: 500;
  }
}
.errorContainer__Link:hover, .errorContainer__Link:focus {
  text-decoration-line: underline;
}

.Fiche-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff6060;
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .Fiche-container {
    width: 95%;
  }
}

.Fiche-logement {
  width: 100%;
}

.description-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .description-info {
    display: flex;
    flex-direction: column;
  }
}
.description-info__titletags__tags {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.description-info__titletags__title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.description-info__titletags__title .titre-logement {
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 768px) {
  .description-info__titletags__title .titre-logement {
    font-size: 25px;
  }
}
.description-info__titletags__title .endroit-logement {
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.description-info__proprietaire {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .description-info__proprietaire {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 20px;
  }
}
.description-info__proprietaire__nom-prop {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 30px;
}
.description-info__proprietaire .nom-proprietaire {
  margin-right: 10px;
  text-align: right;
  width: 60px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.description-info__proprietaire .photo-proprietaire {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.description-info__proprietaire__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}
.description-info__proprietaire__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 10px;
}
.description-info__proprietaire__rate {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.description-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .description-content {
    display: flex;
    flex-direction: column;
  }
}
.description-content__description {
  width: 50%;
  padding-right: 40px;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .description-content__description {
    width: 100%;
    padding-right: 0;
  }
}
.description-content__equipement {
  width: 50%;
  padding-left: 40px;
}
@media screen and (max-width: 768px) {
  .description-content__equipement {
    width: 100%;
    padding-left: 0;
  }
}

.tag-container {
  padding: 8px 30px;
  background-color: #ff6060;
  color: aliceblue;
  border-radius: 25px;
  margin-right: 20px;
}
.tag-container__button {
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: white;
  opacity: 1;
}

.slide {
  position: relative;
  width: 100%;
}
.slide .right-Arrow {
  position: absolute;
  right: 2%;
  top: 25%;
  color: white;
  font-size: 4.5rem;
  width: 47px;
  height: 79px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .slide .right-Arrow {
    font-size: 2rem;
  }
}
.slide .left-Arrow {
  position: absolute;
  top: 25%;
  left: 2%;
  font-size: 4.5rem;
  width: 47px;
  height: 79px;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .slide .left-Arrow {
    font-size: 2rem;
  }
}
.slide .slider img {
  width: 100%;
  height: 500px;
  border-radius: 25px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .slide .slider img {
    height: 300px;
  }
}
.slide .slider__number {
  position: absolute;
  left: 48%;
  top: 85%;
  color: white;
  font-size: 25px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .slide .slider__number {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */